body {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
}

header {

  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
  color:rgb(75, 0, 130);
}

footer {
  background-color: rgb(75, 0, 130);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 45px;
  color: rgb(75, 0, 130);
  text-align: center;
  font-weight: 500;
  margin-bottom: 0px;
}

h3 {text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.ul-center {
  display: flex;
  justify-content: center;
  }

ul {
  line-height: 150%;

}

.text {
  padding: 20px;
  padding-bottom: 60px;
  color:rgb(139, 69, 19);
  font-weight: 400;
  background-color: rgba(244, 164, 96, 0.7);
  background-image: url(img/remont.png);
  background-size:650px;
  border-radius: 20%;
  font-size: 1em;

}

.back {
  background-color: rgba(255, 255, 255, 0.6)
}
.text2 {
  padding: 20px;
  padding-bottom: 60px;
  color:rgb(139, 69, 19);
  font-weight: 400;
  background-color: rgba(244, 164, 96, 0.7);
  background-image: url(img/electro.png);
  background-size:500px;
  border-radius: 20%;
  font-size: 1em;

}

li {
  font-size: 20px;
}

.step-1 {
  display: flex;
  justify-content: center;
  margin-left: auto;
}
.step-2 {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-top: 20px;
}

.kruglo {
  font-size: 25px;
  color: grey;
  text-align: center;
}

.first-head {
  text-align: center;
}

.name {

  margin-left: 20px;
  font-size: 35px;
}

.call-me {

}

.direction-to {


  margin-right: 20px;
}

.call {
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;

}

.flex {

}

.call2 {

  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.follow {
  margin: 0px;
  background: e6eeee;
  z-index: 2;
  position: fixed;
  top: 400px;
  left: 0px;
}

.bok {
  font-size: 19px;
  padding: 10px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(138, 43, 226, 0.5);
}

.bok:hover {
  width: 42px;
}

.write-us {
  display: grid;

  margin-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.write {
  padding: 10px;
  margin: 10px;
}

.viber-ap {
  width: 40px;
  padding: 2px;
}

.facebook-ap {
  width: 40px;
  padding: 2px;
}


.telegram-ap {
  width: 40px;
  padding: 2px;
}


.whatsup-ap {
  width: 40px;
  padding: 2px;
}

.footer-call {
  color: white;
  padding: 20px;
}

.footcall {
  width: 30px;
}



.remont {
  width: 400px;
  padding: 40px;
}
